a {
  text-decoration: none;
}

h1 {
  font-family: 'Arvo', Serif;
  /* font-weight: 300; */
  font-size: 120px;
}

#category {
  font-family: 'Arvo', Serif;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar, .uk-navbar-nav li a{
  color: #ff007f;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: 'Arvo', Serif;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.uk-navbar-nav>li>a{
  font-family: 'Arvo', Serif;
  text-transform: lowercase;
}

.uk-card-body {
  font-family: 'Arvo', Serif;
}

html {
  font-family:  'Lato', Sans-Serif;
}

#social {
  text-align: center;
}

#social a {
  color: #ff007f;
  font-size:25px;
  margin:0 20px;
  display: inline-block;
}

.article-cover-image {
  width: 100vw; /* Full viewport width */
  max-height: 990px; /* Adjust as needed */
  overflow: hidden; /* Ensures no scrollbars */
}

.article-cover-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures it fills the space */
}

/* Ensure gallery-item covers the whole image */
.gallery-item {
  position: relative;
  display: inline-block;
  width: 100%;
}

.gallery-item {
  position: relative;
  display: inline-block;
  width: 100%;
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10; /* Ensures button is above the image */
}

.gallery-item:hover .download-button {
  opacity: 1;
}

/* Ensure the image container has position relative so absolute elements (download button) align properly */
.uk-inline {
  position: relative;
  display: block;
}
